.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  flex-direction: column;
}
.inputContainer label {
  /* background-color: brown; */
  display: flex;
  justify-content: st;
  margin: 1.5px;
  color: gray;
}

.inputContainer input {
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}
