.sidebar {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 22%;
  background-color: #048ba8;
  align-items: flex-start;
  top: 0;
  left: 0;
  border: 1px solid #e6f3f6;
  box-sizing: border-box;
  border-top: none;
}
.sidebar img {
  margin: 15px;
}
